From: {{ fullname }} <{{ email }}>
To: submit@bugs.debian.org
Subject: {{ package }}: FTBFS with numpy 1.21 (in experimental): {{ summary }}

Source: {{ package }}
Version: {{ version }}
Severity: important
Justification: FTBFS
Tags: bookworm sid ftbfs
User: lucas@debian.org
Usertags: ftbfs-numpy121

Hi,

During a rebuild of all packages in sid, your package failed to build
on amd64, using numpy 1.21 currently in experimental. This version
will soon be uploaded to unstable.

If you have questions about this, please contact Sandro Tosi
<morph@debian.org>.

Relevant part (hopefully):
{% for line in extract %}> {{ line }}
{% endfor %}

The full build log is available from:
http://qa-logs.debian.net/2021/11/numpy-matplotlib/numpy-exp/{{ filename }}

If you reassign this bug to another package, please marking it as 'affects'-ing
this package. See https://www.debian.org/Bugs/server-control#affects

If you fail to reproduce this, please provide a build log and diff it with mine
so that we can identify if something relevant changed in the meantime.
